@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #008bf8;
  --secondary-color: #dea54b;
  --accent1-color: #7a306c;
  --accent2-color: #f8f0fb;

  /* change the values below to your chosen font(s) */
  --heading-font: "Bebas Neue";
  --paragraph-font: Open Sans, sans-serif;
}

body {
  background-color: var(--accent2-color);
  font-family: Open Sans, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
main section img{
  box-sizing: border-box;
}
h2 {
 margin: 0;
}
header {
  background-color: var(--primary-color);
}
.logo {
  width: 50px;
  height: auto;
}
#logo_link {
  padding-top: 5px;
}

#content {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
  color: var(--accent2-color);
  text-decoration: none;
  padding: 35px;
  font-size: 15px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav a:hover {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
}
#hero-msg h1 {
  text-align: center;
}
#hero-msg h4 {
  text-align: center;
}
#hero-img {
  width: 100%;
}
.button-box {
  text-align: center;
}
.home-title {
  text-align: center;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  font-family: var(--heading-font);
  font-size: 2em;
  margin-top: 10px;
}
h4 {
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  text-align: center;
}
main section {
  text-align: center;
}
.book,
.join {
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover,
.join:hover {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
}
.icon {
  width: 80px;
  padding-top: 10px;
}
.mountains {
  width: 100%;
  height: auto;
}

#background {
  background-color: var(--secondary-color);
  height: 725px;
}
.msg {
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  line-height: 1.5em;
  padding: 35px;
}
.msg h2 {
  font-family: var(--heading-font);
  text-align: center;
}

.msg h2 .msg p {
  background-color: var(--accent1-color);
  color: var(--accent2-color);
}
.msg p {
    font-size: 2em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}
.card-img {
  border: 10px solid var(--primary-color);
}
footer {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 25px 50px;
  margin-top: 200px;
}
footer a {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  text-decoration: none;
}
footer a:hover {
  background-color: var(--secondary-color);
  color: var(--accent2-color);
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}

footer .social img {
  padding-top: 15px;
}
