body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header,
footer {
    background-color: #fff;
    color: #000;
    padding-top: 0.5rem;
    text-align: center;
}
footer {
    border-top: 3px solid #f3d7b9;
}

.main-nav {
    list-style: none;
    padding: 0 1.5em;
    border-top: 3px solid #f3d7b9;
    border-bottom: 3px solid #f3d7b9;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: right;  
    margin-bottom: 50px;  
}

.main-nav li {
    padding: 8px;
    font-weight: bold;  
}

.main-nav a {
    color: #a10320;
    text-decoration: none;
}

.book {
    padding: 1rem;
    max-width: 700px;
    margin: 0 auto;
    border-top: 3px solid #f3d7b9;
}

.book h2 {
    color: #a10320;
    font-size: 1.5rem;
}

/* Metadata paragraphs (date, age, genre, rating) */
.book .meta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: end;
    padding: 20px 40px
}
.meta p {
    margin: 0;
    padding-left: 0;
}

.book img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}

.book .desc {
    margin-top: 0.5rem;
    padding: 0 40px;
}


@media (min-width: 600px) {
    .main-nav {
        display: grid;
        grid-template-columns: 100px 100px 100px;
    }
    .book {
        border-top: none;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .book .meta {
        border-right: 3px solid #f3d7b9;
    }
}