/* Body */
body {
    background-color: #ddd;
    font-size: 20px;
}
/* Header */
/* Content */
#content {
    max-width: 60%;
    border: 1px solid darkgrey;
    margin: 40px auto;
    padding: 40px;
}
p {
    color: #035f9c;
    font-size: 1.3em;
}

hr {
    height: 3px;
    background-color: #035f9c;
    width: 80%;
    margin-top: 40px;
}

h1, h2, p {
    text-align: center;
}

img {
    width: 80%;
    display: block;
    margin: 40px auto;
}
#topics {
    line-height: 2em;
    margin: 0 auto;
    width: 60%;
}
.list{
    list-style-type: none;
}