h1 {
  text-align: center;
  margin: 35px 0;
}
.gallery {
  max-width: 1000px;
  margin: 0 auto;
}
figure img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding: 5px;
  background-color: white;
  box-shadow: 5px 5px 15px black;
  display: block;
  margin: 0 auto;
}
/* modal */

dialog img {
  width: 90%;
  display: block;
  margin: 20vh auto;
}
dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.close-viewer {
  position: absolute;
  top: 10vh;
  right: 2vh;
  padding: 3px 6px;
  font-size: 1.5em;
}

/* Important to prevent scrolling behind the modal */
body:has(dialog[open]) {
  overflow: hidden;
}

@media screen and (min-width: 700px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  dialog img {
    width: 60%;
    margin: 15vh auto;
  }
  .close-viewer {
    position: absolute;
    right: 15vh;
  }
  .viewer {
    margin: 50px;
    padding: 50px;
  }
  .viewer img {
    max-width: 800px;
  }
}
